body{background-color: lightcyan;}

#titulo {color: blue; text-align: center;}
#paragrafo {font-size: 18px; text-align: justify;}

.item {padding: 8px;}
#fthobbie {
    width: 200px; 
    border-radius: 50%; 
    margin-bottom: 15px;
}

#t2 {margin-top: 30px;}
#tabela{
    border-color: black;
    border-width: 3px;
    text-align: center;
    padding: 3px;
    background-color: lightgreen;
    margin-bottom: 30px;
}
.fotos {
    width: 350px;
    height: 200px;
}

a:hover{
    color: black;
}